<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id="chart-<%= data.chartDetails.id %>" class="chart">
        <p><%= data.chartDetails.label %></p>
        <button class="refresh-button" onclick="clientUtils.methods.getChartAndRender('expense')">Refresh</button>
        <div class="chart-insider">
            <canvas id="myPieChart"></canvas>
        </div>
        
    </div>

    <script>
        // Example data (dynamic for demonstration)
        var data = {
            labels: <%- JSON.stringify(data.labels) %>,
            datasets: [{
                label: 'Amount',
                data: <%- JSON.stringify(data.values) %>,
            }]
        };

        // Generate random colors for each data point
        var backgroundColors = generateRandomColors(data.labels.length);

        // Add generated colors to the dataset
        data.datasets.forEach(dataset => {
            dataset.backgroundColor = backgroundColors;
        });

        // Function to generate random colors
        function generateRandomColors(numColors) {
            var colors = [];
            for (let i = 0; i < numColors; i++) {
                var color = `rgba(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, 0.8)`;
                colors.push(color);
            }
            return colors;
        }

        // Create a pie chart
        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                },
            },
        });
    </script>
</body>
</html>
