<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VAV IT IS</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/appIndex.css">
    <link rel="stylesheet" type="text/css" href="/css/LoginAndSignup.css">
    <script src="/js/clientUtils.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

    <div id="login_form">
        <h2>Login</h2>
        <!-- Login form fields here -->
        <div id="loginForm">
            <%- include('form', { data: data.login }) %>
        </div>
        <p>Don't have an account? <a href="#" onclick="showSignInForm()">Sign up</a></p>
    </div>

    <div id="signup_form" style="display: none;">
        <h2>SignUp</h2>
        <!-- Signin form fields here -->
        <div id="signInForm">
            <%- include('form', { data: data.signup }) %>
        </div>
        <p>Already have an account? <a href="#" onclick="showLoginForm()">Login</a></p>
    </div>
    <div id="notification-popup"></div>
    <script>
        clientUtils.data.company = <%- JSON.stringify(data.company) %>;
        clientUtils.data.baseURL = '<%- data.baseURL %>';
        function showLoginForm() {
            document.getElementById('signup_form').style.display = 'none';
            document.getElementById('login_form').style.display = 'block';
        }

        function showSignInForm() {
            document.getElementById('login_form').style.display = 'none';
            document.getElementById('signup_form').style.display = 'block';
        }
    </script>
</body>

</html>
