<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.modelDetails.label %></title>
</head>
<body>
    <table>
        <tr>
            <td colspan="2" id="listPage"></td>
            <td id="formPage"></td>
        </tr>
    </table>
    <script>
        clientUtils.methods.getListPageAndRender("listPage",10,1,<%= data.modelDetails.modelId %>);
    </script>
</body>
</html>